<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="d-flex align-items-center px-md-4 mb-2 bg-light border-bottom">
    <img src="static/images/beldecor.png" width="190">
    <div class="row align-items-center">
        <h5 class="text-muted ml-5">+375(29)
            <span class="h2 text-dark">8888888<br>
                <a class="h5 text-info ml-1" href="mailto:info@beldecor.by" title="">info@beldecor.by</a></span></h5>
        <h5 class="text-muted ml-5 mt-4">Город: Малорита <br>
            <span class="h5">Режим работы: 10:00-19:30 (без выходных)</span></h5>
    </div>
</div>

<div class="d-flex flex-column flex-md-row align-items-center p-0 px-md-4 mb-0 bg-white border-bottom box-shadow">
    <nav class="my-2 my-md-0 mr-md-3">
        <button type="button" class="btn btn-secondary">Главная</button>
        <button type="button" class="btn btn-secondary">КАТАЛОГ</button>
        <button type="button" class="btn btn-success">Оплата и доставка</button>
        <button type="button" class="btn btn-secondary">Контакты</button>
    </nav>

</div>

{% block body %}{% endblock %}
<div class="bg-dark">
<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img src="static/images/beldecor.png" width="200">
            <p class="text-muted"> © 2020-2021 BelDecor, Inc. · </p>
        </div>

        <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
        </div>

        <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
        </div>

        <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</body>
</html>