{% extends 'base.html' %}

{% block title %}
Сувениры из дерева
{% endblock %}

{% block body %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-16 px-0">
        <h1 class="display-4 font-italic">Сувениры из дерева и фанеры</h1>
        <p class="lead my-3">...</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Посмотреть портфолио...</a></p>
    </div>
</div>

<div class="container">
<div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="static/images/index001.jpeg" alt="Generic placeholder image" width="240" height="240">
            <h2>Копилки</h2>
            <p>Деревянные копилки и различные подставки для телефонов с оригинальным дизайном.
               Изделия выполнены из натурального массива дерева.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Открыть »</a></p>

          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="static/images/index002.jpg" alt="Generic placeholder image" width="240" height="240">
            <h2>Часы</h2>
            <p>Деревянные часы на стене непременно украсят ваш дом. <BR>Изделия выполнены из натурального массива дерева.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Открыть »</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded-circle" src="static/images/index003.jpg" alt="Generic placeholder image" width="240" height="240">
            <h2>Сувениры</h2>
            <p>Шкатулки, чехлы, декор и многое другое.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Открыть »</a></p>
          </div><!-- /.col-lg-4 -->
</div>
</div>


<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">В НАЧАЛО</a></p>
</footer>
{% endblock %}